In [1]:
3+3

6

In [13]:
def calculate_total(price, tax):
    return price + (price * tax)

total = calculate_total(100, 0.05)
print(f"Total cost: {total}")

Total cost: 105.0

In [15]:
def calculate_total(price, tax):
    print(price + (price * tax))

total = calculate_total(100, 0.05)
print(f"Total cost: {total}")

105.0
Total cost: None

In [31]:
def square(x):
    return x * x

result = square(4)
doubled_result  = result * 2
print(doubled_result)

32

In [33]:
def square(x):
    print(x * x)

result = square(4)
doubled_result  = result * 2
print(doubled_result)

16

TypeError: unsupported operand type(s) for *: 'NoneType' and 'int'